section.home
  .home__wrapper
    p.home__text Temporary redirects &mdash; still working on the Case Study pages.

    ul.home__list
      each val in [1, 2]
        li.home__item
          a.home__link(href="https://trollideliciouslydarkescape.com/" target="_blank")
            span.home__link__wrapper TROLLI
              span.home__link__media
                img.home__link__media__image(alt="Trolli Project Preview" src="/projects/trolli.jpg")

        li.home__item
          a.home__link(href="https://adventuretimedistantlands.com/" target="_blank")
            span.home__link__wrapper ADVENTURE TIME
              span.home__link__media
                img.home__link__media__image(alt="Adventure Time Project Preview" src="/projects/adventure-time.jpg")

        li.home__item
          a.home__link(href="https://studiomaertens.com/" target="_blank")
            span.home__link__wrapper STUDIO MÆRTENS
              span.home__link__media
                img.home__link__media__image(alt="Studio Maertens Project Preview" src="/projects/studio-maertens.jpg")

        li.home__item
          a.home__link(href="https://dreamwave.tech/inbound-2020" target="_blank")
            span.home__link__wrapper INBOUND
              span.home__link__media
                img.home__link__media__image(alt="INBOUND Project Preview" src="/projects/inbound.jpg")

        li.home__item
          a.home__link(href="https://dreamwave.tech/redis-conf" target="_blank")
            span.home__link__wrapper REDIS
              span.home__link__media
                img.home__link__media__image(alt="Redis Project Preview" src="/projects/redis.jpg")

        li.home__item
          a.home__link(href="https://kaleidozdesign.com/" target="_blank")
            span.home__link__wrapper KALEIDOZ
              span.home__link__media
                img.home__link__media__image(alt="Kaleidoz Project Preview" src="/projects/kaleidoz.jpg")

        li.home__item
          a.home__link(href="https://erikamoreira.co/" target="_blank")
            span.home__link__wrapper ÉRIKA MOREIRA
              span.home__link__media
                img.home__link__media__image(alt="Érika Moreira Project Preview" src="/projects/erika-moreira.jpg")

        li.home__item
          a.home__link(href="https://www.behance.net/gallery/89455165/Bruno-Arizio-Portfolio" target="_blank")
            span.home__link__wrapper BRUNO ARIZIO
              span.home__link__media
                img.home__link__media__image(alt="Bruno Arizio Project Preview" src="/projects/bruno-arizio.jpg")

        li.home__item
          a.home__link(href="https://dominic.bz/" target="_blank")
            span.home__link__wrapper DOMINIC BERZINS
              span.home__link__media
                img.home__link__media__image(alt="Dominic Berzins Project Preview" src="/projects/dominic-berzins.jpg")

        li.home__item
          a.home__link(href="https://cultldn.com/" target="_blank")
            span.home__link__wrapper CULT
              span.home__link__media
                img.home__link__media__image(alt="Cult Project Preview" src="/projects/cult.jpg")

        li.home__item
          a.home__link(href="https://apps.apple.com/br/app/movida-kids/id1337822375" target="_blank")
            span.home__link__wrapper MOVIDA
              span.home__link__media
                img.home__link__media__image(alt="Movida Project Preview" src="/projects/movida.jpg")

        li.home__item
          a.home__link(href="https://www.unit9.com/project/lufthansa-sayyestotheworld-2/" target="_blank")
            span.home__link__wrapper LUFTHANSA
              span.home__link__media
                img.home__link__media__image(alt="Lufthansa Project Preview" src="/projects/lufthansa-2.jpg")

        li.home__item
          a.home__link(href="https://www.unit9.com/project/tiaa-difference-maker/" target="_blank")
            span.home__link__wrapper TIAA
              span.home__link__media
                img.home__link__media__image(alt="TIAA Project Preview" src="/projects/tiaa.jpg")

        li.home__item
          a.home__link(href="https://www.unit9.com/project/lufthansa-sayyestotheworld/" target="_blank")
            span.home__link__wrapper LUFTHANSA
              span.home__link__media
                img.home__link__media__image(alt="Lufthansa Project Preview" src="/projects/lufthansa-1.jpg")

        li.home__item
          a.home__link(href="http://shell-bts-master.thisisnotbranded.com/ontopoftheworld/en" target="_blank")
            span.home__link__wrapper SHELL
              span.home__link__media
                img.home__link__media__image(alt="Shell Project Preview" src="/projects/shell.jpg")

        li.home__item
          a.home__link(href="https://www.unit9.com/project/corvette-modules/" target="_blank")
            span.home__link__wrapper CORVETTE
              span.home__link__media
                img.home__link__media__image(alt="Corvette Project Preview" src="/projects/corvette.jpg")

        li.home__item
          a.home__link(href="http://nikecityfast.co.uk/" target="_blank")
            span.home__link__wrapper NIKE
              span.home__link__media
                img.home__link__media__image(alt="Nike Project Preview" src="/projects/nike.jpg")

        li.home__item
          a.home__link(href="https://www.unit9.com/project/airbnb-family-trips/" target="_blank")
            span.home__link__wrapper AIRBNB
              span.home__link__media
                img.home__link__media__image(alt="Airbnb Project Preview" src="/projects/airbnb.jpg")

        li.home__item
          a.home__link(href="https://lhbizarro.github.io/doki/game-es/" target="_blank")
            span.home__link__wrapper DISCOVERY KIDS
              span.home__link__media
                img.home__link__media__image(alt="Discovery Kids Project Preview" src="/projects/discovery-kids.jpg")

        li.home__item
          a.home__link(href="https://believe.earth/earth/" target="_blank")
            span.home__link__wrapper ROCK IN RIO
              span.home__link__media
                img.home__link__media__image(alt="Rock In Rio Project Preview" src="/projects/rock-in-rio.jpg")

        li.home__item
          a.home__link(href="https://www.linkedin.com/posts/rise-new-york_independent-advertising-agency-activity-6553695483888451584-ejxI/" target="_blank")
            span.home__link__wrapper NEOWAY
              span.home__link__media
                img.home__link__media__image(alt="Neoway Project Preview" src="/projects/neoway.jpg")
