section.home
  .home__wrapper
    ul.home__list
      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(24.5rem);") STUDIO MÆRTENS
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(7.5rem);") ADVENTURE TIME
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-24.3rem);") TROLLI
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-32.5rem);") ÉRIKA MOREIRA
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(37.4rem);") BRUNO ARIZIO
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(12.8rem);") DOMINIC BERZINS
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-13.5rem);") CULT
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-7.6rem);") MOVIDA
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(9.8rem);") LUFTHANSA
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(5.9rem);") TIAA
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(40rem);") LUFTHANSA
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-14.3rem);") SHELL
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-24.5rem);") CORVETTE
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(3.7rem);") NIKE
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-18rem);") AIRBNB
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-36.8rem);") DISCOVERY KIDS
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(7.9rem);") NEXT
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-14.5rem);") GOOGLE
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(-3.1rem);") ROCK IN RIO
            img.home__link__image(src="")

      li.home__item
        a.home__link(href="")
          span.home__link__wrapper(style="transform: translateX(7.9rem);") NEOWAY
            img.home__link__image(src="")
