section.home
  .home__background
    .home__background__top
    .home__background__bottom

  .home__wrapper
    p.home__text &copy; 2020 &mdash; Bizarro is a Senior Interactive Developer at Active Theory.

    ul.home__list
      li.home__item.home__item--trolli
        a.home__link(href="/case/trolli")
          span.home__link__wrapper TROLLI
            img.home__link__media(alt="Trolli Project Preview" data-direction="right" data-src="/projects/trolli.jpg")

      li.home__item.home__item--adventure-time
        a.home__link(href="/case/adventure-time")
          span.home__link__wrapper ADVENTURE TIME
            img.home__link__media(alt="Adventure Time Project Preview" data-direction="left" data-src="/projects/adventure-time.jpg")

      li.home__item.home__item--studio-maertens
        a.home__link(href="/case/studio-maertens")
          span.home__link__wrapper STUDIO MÆRTENS
            img.home__link__media(alt="Studio Maertens Project Preview" data-direction="left" data-src="/projects/studio-maertens.jpg")

      li.home__item.home__item--inbound
        a.home__link(href="/case/inbound")
          span.home__link__wrapper INBOUND
            img.home__link__media(alt="INBOUND Project Preview" data-direction="left" data-src="/projects/inbound.jpg")

      li.home__item.home__item--redis
        a.home__link(href="/case/redis")
          span.home__link__wrapper REDIS
            img.home__link__media(alt="Redis Project Preview" data-direction="left" data-src="/projects/redis.jpg")

      li.home__item.home__item--kaleidoz
        a.home__link(href="/case/kaleidoz")
          span.home__link__wrapper KALEIDOZ
            img.home__link__media(alt="Kaleidoz Project Preview" data-direction="left" data-src="/projects/kaleidoz.jpg")

      li.home__item.home__item--erika-moreira
        a.home__link(href="/case/erika-moreira")
          span.home__link__wrapper ÉRIKA MOREIRA
            img.home__link__media(alt="Érika Moreira Project Preview" data-direction="right" data-src="/projects/erika-moreira.jpg")

      li.home__item.home__item--bruno-arizio
        a.home__link(href="/case/bruno-arizio")
          span.home__link__wrapper BRUNO ARIZIO
            img.home__link__media(alt="Bruno Arizio Project Preview" data-direction="left" data-src="/projects/bruno-arizio.jpg")

      li.home__item.home__item--dominic-berzins
        a.home__link(href="/case/dominic-berzins")
          span.home__link__wrapper DOMINIC BERZINS
            img.home__link__media(alt="Dominic Berzins Project Preview" data-direction="left" data-src="/projects/dominic-berzins.jpg")

      li.home__item.home__item--pagethink
        a.home__link(href="/case/pagethink")
          span.home__link__wrapper PAGETHINK
            img.home__link__media(alt="Pagethink Project Preview" data-direction="left" data-src="/projects/pagethink.jpg")

      li.home__item.home__item--neoway
        a.home__link(href="/case/neoway")
          span.home__link__wrapper NEOWAY
            img.home__link__media(alt="Neoway Project Preview" data-direction="left" data-src="/projects/neoway.jpg")

      li.home__item.home__item--cult
        a.home__link(href="/case/cult")
          span.home__link__wrapper CULT
            img.home__link__media(alt="Cult Project Preview" data-direction="right" data-src="/projects/cult.jpg")

      li.home__item.home__item--movida
        a.home__link(href="/case/movida")
          span.home__link__wrapper MOVIDA
            img.home__link__media(alt="Movida Project Preview" data-direction="left" data-src="/projects/movida.jpg")

      li.home__item.home__item--one-plus
        a.home__link(href="/case/one-plus")
          span.home__link__wrapper ONE PLUS
            img.home__link__media(alt="One Plus Project Preview" data-direction="left" data-src="/projects/one-plus.jpg")

      li.home__item.home__item--samsung
        a.home__link(href="/case/samsung")
          span.home__link__wrapper SAMSUNG
            img.home__link__media(alt="Samsung Project Preview" data-direction="right" data-src="/projects/samsung.jpg")

      li.home__item.home__item--lufthansa-2
        a.home__link(href="/case/lufthansa-2")
          span.home__link__wrapper LUFTHANSA
            img.home__link__media(alt="Lufthansa Project Preview" data-direction="left" data-src="/projects/lufthansa-2.jpg")

      li.home__item.home__item--tiaa
        a.home__link(href="/case/tiaa")
          span.home__link__wrapper TIAA
            img.home__link__media(alt="TIAA Project Preview" data-direction="left" data-src="/projects/tiaa.jpg")

      li.home__item.home__item--lufthansa-1
        a.home__link(href="/case/lufthansa-1")
          span.home__link__wrapper LUFTHANSA
            img.home__link__media(alt="Lufthansa Project Preview" data-direction="left" data-src="/projects/lufthansa-1.jpg")

      li.home__item.home__item--shell
        a.home__link(href="/case/shell")
          span.home__link__wrapper SHELL
            img.home__link__media(alt="Shell Project Preview" data-direction="right" data-src="/projects/shell.jpg")

      li.home__item.home__item--corvette
        a.home__link(href="/case/corvette")
          span.home__link__wrapper CORVETTE
            img.home__link__media(alt="Corvette Project Preview" data-direction="right" data-src="/projects/corvette.jpg")

      li.home__item.home__item--nike
        a.home__link(href="/case/nike")
          span.home__link__wrapper NIKE
            img.home__link__media(alt="Nike Project Preview" data-direction="left" data-src="/projects/nike.jpg")

      li.home__item.home__item--airbnb
        a.home__link(href="/case/airbnb")
          span.home__link__wrapper AIRBNB
            img.home__link__media(alt="Airbnb Project Preview" data-direction="right" data-src="/projects/airbnb.jpg")

      li.home__item.home__item--discovery-kids
        a.home__link(href="/case/discovery-kids")
          span.home__link__wrapper DISCOVERY KIDS
            img.home__link__media(alt="Discovery Kids Project Preview" data-direction="right" data-src="/projects/discovery-kids.jpg")

      li.home__item.home__item--rock-in-rio
        a.home__link(href="/case/rock-in-rio")
          span.home__link__wrapper ROCK IN RIO
            img.home__link__media(alt="Rock In Rio Project Preview" data-direction="left" data-src="/projects/rock-in-rio.jpg")
