nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/") BIZAR-RØ

    li.navigation__item
      a.navigation__link(href="/") Work

    li.navigation__item
      a.navigation__link(href="/about") About

  button.navigation__easter Activate Easter Egg
