nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/") BIZAR-RØ

    li.navigation__item
      a.navigation__link(href="/") Work

    li.navigation__item
      a.navigation__link(href="/about") About

    li.navigation__item
      a.navigation__link(href="https://twitter.com/lhbizarro/" target="_blank") Reach Out

  button.navigation__easter Activate Easter Egg
