doctype html
html(lang="en")
  head
    include ./partials/head

  body
    include ./partials/navigation

    include ./partials/home
    include ./partials/about
    include ./partials/case

    include ./partials/noscript
    include ./partials/analytics
