.about {
  @extend %page;

  padding: 15rem 0;
  text-align: center;

  @include media('<=phone') {
    padding: 10rem 0 5rem;
  }
}

.about__wrapper {
  display: inline-block;
  max-width: 176.7rem;
  text-align: left;
  width: 95%;
}
