.about {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.about__content {
  @extend %content;

  padding: 15rem 0;
  pointer-events: none;
  text-align: center;

  @include media('<=phone') {
    padding: 10rem 0 5rem;
  }
}

.about__wrapper {
  margin: auto;
  text-align: left;
  width: 176.7rem;

  @include media('<=phone') {
    width: 95%;
  }
}
