.about__sections {

}

.about__section {
  display: flex;
  position: relative;

  &:not(:first-child) {
    margin-top: 10rem;
  }

  @include media('<=phone') {
    display: block;

    &:not(:first-child) {
      margin-top: 7.5rem;
    }
  }
}

.about__section__title {
  font: 10rem/0.95 $font-ampersand;
  margin-bottom: auto;
  padding-top: 10.5rem;
  position: relative;
  width: 33.33%;

  @include media('<=phone') {
    font-size: 4rem;
    padding-top: 0;
    width: 100%;
  }
}

.about__section__content {
  padding-top: 10rem;
  width: 66.66%;

  @include media('<=phone') {
    padding-top: 2rem;
    width: 100%;
  }
}

.about__section__description {
  font-size: 3.5rem;
  line-height: 1.5;
  width: 79%;

  a {
    @extend %link;
  }

  &:not(:first-child) {
    margin-top: 5rem;
  }

  @include media('<=phone') {
    font-size: 1.6rem;
    padding-left: 16.66667%;
    width: 100%;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

.about__section__description__text {
  padding-left: 0.5rem;
}

.about__section__number {
  font: 50rem/1 $font-ampersand;
  height: 50rem;
  margin-top: -4.3rem;

  @include media('<=phone') {
    font-size: 20rem;
    height: 20rem;
    margin-top: 0;
  }
}

.about__section__list {
  font-size: 2.4rem;
  white-space: nowrap;

  @include media('<=phone') {
    font-size: 1.4rem;
  }
}

.about__section__list__item {
  overflow: hidden;
  position: relative;
}

.about__section__list__dash {
  border-top: 1px solid rgba($color-iron, 0.1);
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transition: transform 1.5s $ease-out-expo;
  transform-origin: left;
  width: 100%;
}

.about__section__list__link {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: relative;

  &:after {
    background: $color-iron;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    mix-blend-mode: difference;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s $ease-out-expo;
    width: 100%;
  }

  &:hover:after {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  @include media('<=phone') {
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}

.about__section__list__column {
  display: block;
  text-align: left;

  &:nth-child(1) {
    width: 20rem;
  }

  &:nth-child(2) {
    width: 30rem;
  }

  &:nth-child(3) {
    width: 44.5rem;
  }

  &:nth-child(4) {
    width: 35.5rem;
  }

  .about__section__list__link--article & {
    &:nth-child(1) {
      width: 30%;
    }

    &:nth-child(2) {
      width: 70%;
    }
  }

  @include media('<=phone') {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 50%;
    }

    .about__section__list__link--article & {
      &:nth-child(2) {
        display: block;
      }
    }
  }
}
