.about__marquee {
  font-family: $font-ampersand;
  font-size: 0;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  white-space: nowrap;
}

.about__marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: about__marquee 25s linear infinite;
}

.about__marquee span {
  font-size: 3vw;
  padding: 0 2vw;
}

.about__marquee:hover .about__marquee__inner {
  animation-play-state: running;
}

@keyframes about__marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}
