
.case__header {

}

.case__media {
  @include ratio(1366, 768);

  margin: auto;
  width: 100%;
}

.case__header__content {
  text-align: center;
  margin: auto;
  width: 40%;
}

.case__title {
  font: 15rem/0.8 $font-ampersand;
  overflow: hidden;
  text-align: center;
  transform: translateY(50%);
  white-space: nowrap;

  @include media('<=phone') {
    font-size: 5rem;
    white-space: inherit;
  }
}

.case__title__text {
  display: block;
}

.case__subtitle {
  font-size: 2.5rem;
}

.case__information {
  display: flex;
  margin: 10rem auto;
  max-width: 144rem;
  width: 90%;

  @include media('<=phone') {
    display: block;
    margin: 5rem auto;
  }
}

.case__information__details {
  width: 33.33%;

  @include media('<=phone') {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.case__information__detail {
  font-size: 2.5rem;

  &:not(:first-child) {
    margin-top: 5rem;
  }

  @include media('<=phone') {
    font-size: 1.6rem;
    width: 50%;

    &:not(:first-child) {
      margin-top: 0rem;
    }

    &:nth-child(3) {
      margin-top: 2.5rem;
    }
  }
}

.case__information__detail__title {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.case__information__description {
  font-size: 3.5rem;
  line-height: 1.5;
  width: 66.66%;

  @include media('<=phone') {
    font-size: 1.6rem;
    margin-top: 2.5rem;
    width: 100%;
  }
}
