.terms {
  @extend %page;

  padding: 15rem 0;
}

.terms__wrapper {
  @extend %wrapper;
}

.terms__header {

}

.terms__title {
  @extend %title__medium;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > span {
    overflow: hidden;

    &:first-child {
      width: 100%;
    }
  }

  > span span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

.terms__description {
  @extend %description__medium;

  margin-top: 5.5rem;

  h2 {
    margin-bottom: 2.5rem;
    margin-top: 3rem;
    padding-left: 1.5rem;
  }

  @include media('<=phone') {
    h2 {
      margin: 2rem 0;
      padding-left: 0;
    }
  }
}
