%page {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  will-change: transform;
  z-index: z('content');
}

%wrapper {
  margin: auto;
  max-width: 130rem;
  width: 90%;

  @include media('<=phone') {
    width: calc(100% - 5rem);
  }
}
