@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.cursor {
  height: 100%;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z('cursor');
}

.cursor__spinner {
  height: 74px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 74px;
}

.cursor__spinner__media {
  animation: rotate 2s linear infinite;
}

.cursor__spinner__path {
  animation: dash 1.5s ease-in-out infinite;
  stroke: $color-white;
  stroke-linecap: round;
}

.cursor__text {
  color: $color-white;
  font-size: 1.3rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;

  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
