@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wheel {
  left: 0;
  pointer-events: auto;
  position: fixed;
  top: 0;
  transform: translate(calc(50vw - (16.55vw / 2)), calc(50vh - (16.55vw / 2)));
  width: 16.55vw;
  z-index: z('wheel');

  @include media('<=phone') {
    transform: translate(calc(50vw - (40vw / 2)), calc(50vh - (40vw / 2)));
    width: 40vw;
  }
}

.wheel__wrapper {
  pointer-events: none;
}

.wheel__icon {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
  display: block;
  fill: $color-white;

  .wheel--loaded & {
    animation-play-state: paused;
  }
}

.wheel__arrows {
  @extend %cover;

  pointer-events: none;

  &:before,
  &:after {
    border-style: solid;
    content: '';
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 0.4s ease, transform 0.4s ease;
    width: 0;
  }

  &:before {
    border-color: transparent transparent currentColor transparent;
    border-width: 0 1rem 1.25rem;
    margin-top: -0.5rem;
    transform: translate(-50%, -100%);
  }

  &:after {
    border-color: currentColor transparent transparent transparent;
    border-width: 1.2rem 1rem 0;
    margin-top: -0.5rem;
    transform: translate(-50%, 0);
  }

  .wheel--active.wheel--loaded & {
    &:before {
      opacity: 1;
      transform: translate(-50%, -2rem);
    }

    &:after {
      opacity: 1;
      transform: translate(-50%, 2rem);
    }
  }
}
