$color-iron: #d3d5d5;
$color-pine-tree: #151c13;

$font-ampersand: 'Ampersand', sans-serif;
$font-neue-montreal: 'Neue Montreal', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'navigation',
  'content',
  'canvas'
);
