@font-face {
  font-family: 'Ampersand';
  src: url('../fonts/ampersand.woff2') format('woff2'),
       url('../fonts/ampersand.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/neue-machina.woff2') format('woff2'),
       url('../fonts/neue-machina.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Peclet';
  src:
       url('../fonts/untitled-sans.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
