@font-face {
  font-family: 'Ampersand';
  src: url('../fonts/ampersand.woff2') format('woff2'),
       url('../fonts/ampersand.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/neue-montreal-regular.woff2') format('woff2'),
       url('../fonts/neue-montreal-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
