.home {
  @extend %cover;
  @extend %page;

  // &:after {
  //   background: #f0f;
  //   content: '';
  //   height: 100%;
  //   left: 50%;
  //   position: absolute;
  //   transform: translateX(-50%);
  //   width: 1.5rem;
  // }
}

.home__background {
  @extend %cover;

  color: $color-pine-tree;
  display: none;
  pointer-events: none;
  z-index: 10;

  &__top,
  &__bottom {
    background: currentColor;
    content: '';
    display: block;
    height: 10rem;
    position: absolute;
    width: 100%;
  }

  &__top {
    background: linear-gradient(to bottom, currentColor 0%, transparent 100%);
    top: 0;
  }

  &__bottom {
    background: linear-gradient(to bottom, transparent 0%, currentColor 100%);
    bottom: 0;
  }

  @include media('<=phone') {
    display: block;
  }
}

.home__wrapper {
  @extend %cover;
}

.home__list {

}

.home__item {
  font: 15rem/0.9 $font-ampersand;
  white-space: nowrap;

  @include media('<=phone') {
    font-size: 4rem;
  }
}

.home__link {
  display: block;
  text-align: center;
}

.home__link__wrapper {
  display: inline-block;
  position: relative;

  .home__item:nth-child(1) &,
  .home__item:nth-child(#{1 + 21 * 1}) & {
    transform: translateX(-24.3rem);
  }

  .home__item:nth-child(2) &,
  .home__item:nth-child(#{2 + 21 * 1}) & {
    transform: translateX(7.5rem);
  }

  .home__item:nth-child(3) &,
  .home__item:nth-child(#{3 + 21 * 1}) & {
    transform: translateX(24.5rem);
  }

  .home__item:nth-child(4) &,
  .home__item:nth-child(#{4 + 21 * 1}) & {
    transform: translateX(28.6rem);
  }

  .home__item:nth-child(5) &,
  .home__item:nth-child(#{5 + 21 * 1}) & {
    transform: translateX(-9rem);
  }

  .home__item:nth-child(6) &,
  .home__item:nth-child(#{6 + 21 * 1}) & {
    transform: translateX(-4.7rem);
  }

  .home__item:nth-child(7) &,
  .home__item:nth-child(#{7 + 21 * 1}) & {
    transform: translateX(-32.5rem);
  }

  .home__item:nth-child(8) &,
  .home__item:nth-child(#{8 + 21 * 1}) & {
    transform: translateX(37.4rem);
  }

  .home__item:nth-child(9) &,
  .home__item:nth-child(#{9 + 21 * 1}) & {
    transform: translateX(12.8rem);
  }

  .home__item:nth-child(10) &,
  .home__item:nth-child(#{10 + 21 * 1}) & {
    transform: translateX(-13.5rem);
  }

  .home__item:nth-child(11) &,
  .home__item:nth-child(#{11 + 21 * 1}) & {
    transform: translateX(-7.6rem);
  }

  .home__item:nth-child(12) &,
  .home__item:nth-child(#{12 + 21 * 1}) & {
    transform: translateX(9.8rem);
  }

  .home__item:nth-child(13) &,
  .home__item:nth-child(#{13 + 21 * 1}) & {
    transform: translateX(5.9rem);
  }

  .home__item:nth-child(14) &,
  .home__item:nth-child(#{14 + 21 * 1}) & {
    transform: translateX(40rem);
  }

  .home__item:nth-child(15) &,
  .home__item:nth-child(#{15 + 21 * 1}) & {
    transform: translateX(-14.3rem);
  }

  .home__item:nth-child(16) &,
  .home__item:nth-child(#{16 + 21 * 1}) & {
    transform: translateX(-24.5rem);
  }

  .home__item:nth-child(17) &,
  .home__item:nth-child(#{17 + 21 * 1}) & {
    transform: translateX(3.7rem);
  }

  .home__item:nth-child(18) &,
  .home__item:nth-child(#{18 + 21 * 1}) & {
    transform: translateX(-18rem);
  }

  .home__item:nth-child(19) &,
  .home__item:nth-child(#{19 + 21 * 1}) & {
    transform: translateX(-36.8rem);
  }

  .home__item:nth-child(20) &,
  .home__item:nth-child(#{20 + 21 * 1}) & {
    transform: translateX(-3.1rem);
  }

  .home__item:nth-child(21) &,
  .home__item:nth-child(#{21 + 21 * 1}) & {
    transform: translateX(18.4rem);
  }

  @include media('<=phone') {
    transform: none !important;
  }
}

.home__link__media {
  background: $color-iron;
  bottom: 0.6rem;
  height: 10.3rem;
  margin: 0 1rem;
  overflow: hidden;
  position: absolute;
  transition: width 0.4s 0.4s $ease-out-expo;
  width: 0;

  .home__item:hover & {
    transition: width 0.4s $ease-out-expo;
    width: 18.3rem;
  }

  .home__item:nth-child(1) &,
  .home__item:nth-child(#{1 + 21 * 1}) & {
    left: 100%;
  }

  .home__item:nth-child(2) &,
  .home__item:nth-child(#{2 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(3) &,
  .home__item:nth-child(#{3 + 21}) & {
    right: 100%;
  }

  .home__item:nth-child(4) &,
  .home__item:nth-child(#{4 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(5) &,
  .home__item:nth-child(#{5 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(6) &,
  .home__item:nth-child(#{6 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(7) &,
  .home__item:nth-child(#{7 + 21 * 1}) & {
    left: 100%;
  }

  .home__item:nth-child(8) &,
  .home__item:nth-child(#{8 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(9) &,
  .home__item:nth-child(#{9 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(10) &,
  .home__item:nth-child(#{10 + 21 * 1}) & {
    left: 100%;
  }

  .home__item:nth-child(11) &,
  .home__item:nth-child(#{11 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(12) &,
  .home__item:nth-child(#{12 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(13) &,
  .home__item:nth-child(#{13 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(14) &,
  .home__item:nth-child(#{14 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(15) &,
  .home__item:nth-child(#{15 + 21 * 1}) & {
    left: 100%;
  }

  .home__item:nth-child(16) &,
  .home__item:nth-child(#{16 + 21 * 1}) & {
    left: 100%;
  }

  .home__item:nth-child(17) &,
  .home__item:nth-child(#{17 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(18) &,
  .home__item:nth-child(#{18 + 21 * 1}) & {
    left: 100%;
  }

  .home__item:nth-child(19) &,
  .home__item:nth-child(#{19 + 21 * 1}) & {
    left: 100%;
  }

  .home__item:nth-child(20) &,
  .home__item:nth-child(#{20 + 21 * 1}) & {
    right: 100%;
  }

  .home__item:nth-child(21) &,
  .home__item:nth-child(#{21 + 21 * 1}) & {
    right: 100%;
  }

  @include media('<=phone') {
    display: none;
  }
}

.home__link__media__image {
  @extend %cover;

  filter: grayscale(1);
  mix-blend-mode: screen;
  opacity: 0;
  transition: opacity 0.4s $ease-out-expo;

  .home__item:hover & {
    opacity: 1;
    transition: opacity 0.4s 0.4s $ease-out-expo;
  }
}

.home__text {
  bottom: 5rem;
  font-size: 2rem;
  left: 5rem;
  position: absolute;

  @include media('<=phone') {
    display: none;
  }
}
